<div class="container">
    <div class="cards">
        <div class="card" *ngFor="let poke of pokemons">
            <div class="card-content" (click)="openPokemonDetail(poke)">
                <div class="card-content-title">
                    <span>{{ poke.name }}</span>
                    <span>#{{ poke.padId }}</span>
                </div>
                <div class="card-content-image">
                    <img src="{{ poke.imgUrl }}">
                </div>
                <div class="card-content-bottom">
                    <!-- <button class="btn">About</button> -->
                </div>
            </div>
        </div>
    </div>
</div>