<app-pokemon-navigator [current]="pokemon"></app-pokemon-navigator>
<app-pokemon-status-chart [stats]="pokemon.stats"></app-pokemon-status-chart>
Pokemon types: <app-pokemon-types [types]="pokemon.types"></app-pokemon-types>
Pokemon moves: <app-pokemon-moves [moves]="startMoves" [twoColumns]="true"></app-pokemon-moves>
Evoluiton chain: <app-pokemon-evolution-chain [id]="pokemon.id"></app-pokemon-evolution-chain>
<br>
<br>
All possible types: <app-pokemon-types [types]="possibleTypes"></app-pokemon-types>
