<div class="container">
    <section class="generation">
        <select (change)="changeGeneration($event)" class="generation__select">
            <option *ngFor="let gen of generations" [value]="gen.id" [selected]="gen.id===selectedGen.id">#generation {{ gen.id }}</option>
        </select>
    </section>
    <section class="choices">
        <div class="choice choice__left" (click)="choose(selectedGen.starters[0])">
            <img class="choice__image" [src]="selectedGen.starters[0].imgUrl">
        </div>
        <div class="choice choice__middle" (click)="choose(selectedGen.starters[1])">
            <img class="choice__image" [src]="selectedGen.starters[1].imgUrl">
        </div>
        <div class="choice choice__right" (click)="choose(selectedGen.starters[2])">
            <img class="choice__image" src="{{selectedGen.starters[2].imgUrl}}">
        </div>
    </section>
</div>