@import "../../../colors.sass"

.container
    height: 91vh
    display: flex
    justify-content: center
    align-items: center

.chooser
    display: grid
    justify-content: center
    align-items: center
    grid-template-columns: repeat(2, 150px)
    grid-template-rows: repeat(2, 150px)
    background: #000
    transform: rotate(45deg)

.quad
    height: 100%
    &__content
        transform: rotate(-45deg)
        display: flex
        justify-content: center
        align-items: center
        height: inherit

.region
    flex-direction: column
    justify-content: flex-end
    color: #ccc
    font-size: 1rem
    &__down
        position: relative
        top: 10px
    &__name
        text-transform: uppercase
        font-size: 1.5rem
        font-weight: 700
    &__action
        z-index: 10
        width: 100%
        top: 15px
        display: flex
        justify-content: space-evenly
        fa-icon
            cursor: pointer
            padding: 0 5px
            &:hover
                transform: scale(1.5)
                color: $chinese-yellow
    &__pokeball
        background: #fff
        transform: rotate(45deg)
        height: 30px
        padding: 5px
        img
            transform: rotate(-45deg)
            height: 30px
            width: 30px