<div class="container" class="{{ 'base-color-' + baseColor }}" *ngIf="evolutionChain && chainLoad.length === 0">
    species-color: {{baseColor}}
    <div class="evolutions">
        <div class="evolution" *ngFor="let chain of evolutionChain.chain">
            <div class="evolution-image">
                <div class="evolution-image-circle"></div>
                <img src="{{ chain.pokemon.imgUrl }}" *ngIf="chain.pokemon">
            </div>
            <div class="evolution-data">
                <div class="evolution-title">{{chain.species}}</div>
                <app-pokemon-types [types]="chain.pokemon.types" *ngIf="chain.pokemon"></app-pokemon-types>
            </div>
        </div>
    </div>
</div>