.evolutions
    display: flex
    flex-flow: row wrap
    justify-content: space-around
    border: 6px solid
    border-radius: 12px

.evolution
    margin-top: 5px

.evolution-image
    border: 6px solid
    border-radius: 50%
    img
        border: 0

.evolution-data
    margin: 20px 0 5px 0
    border-radius: 12px
    .badges
        justify-content: center

.evolution-title
    text-align: center

.base-color-blue
    .evolutions
       background-color: #6890F0
    .evolutions, .evolution-image
        border-color: #445E9C
    .evolution-data, .evolution-image
        background-color: #9DB7F5

.base-color-green
    .evolutions
       background-color: #78C850
    .evolutions, .evolution-image
       border-color: #0B7A0B
    .evolution-data, .evolution-image
       background-color: #A7DB8D