<div class="container">
    <div class="cards">
        <div class="card" *ngIf="previous">
            <div class="card-content">
                <div (click)="changePokemon(previous.id)">←</div>
                <div class="card-content-image" (click)="changePokemon(previous.id)">
                    <img src="{{ previous.frontSpriteUrl }}">
                </div>
                <div class="card-content-title" (click)="changePokemon(previous.id)">
                    <span>#{{ previous.padId }}&nbsp;{{ previous.name }}</span>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="next">
            <div class="card-content">
                <div class="card-content-title" (click)="changePokemon(next.id)">
                    <span>#{{ next.padId }}&nbsp;{{ next.name }}</span>
                </div>
                <div class="card-content-image" (click)="changePokemon(next.id)">
                    <img src="{{ next.frontSpriteUrl }}">
                </div>
                <div (click)="changePokemon(next.id)">→</div>
            </div>
        </div>
    </div>  
</div>