@import "../../colors.sass"

.container
    justify-content: center
    background-color: #E5E5E5
    border: 1px solid $gray-lighter
    border-radius: 0.25rem

.cards
    display: flex
    flex-flow: wrap

.card
    order: 1
    flex: 1 1 auto


.card-content  
    display: flex
    flex-flow: wrap
    align-items: center
    justify-content: space-around
    div
        cursor: pointer

.card-content-title
  font-size: 0.7rem
  font-weight: 300
  letter-spacing: 2px
  text-transform: uppercase

.card-content-image
    height: 128px
    width: 128px
    display: flex
    align-items: center