html
  background-color: #f0f0f0

body
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif
  font-style: normal
  font-weight: 400
  color: #696969
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
